/* registration button for register.html */
input[type="button"].registration_button {
	cursor: pointer;

	margin-bottom: 5%;
	padding: 8px 40px;

	background: var(--primary-color-background);
	&:hover	{
		background: var(--dark-primary-background);
	}

	border-radius: 12px;
	color: white;
	font-size: 18px;
	text-align: center;
	align-self: center;
	justify-self: center;
}

/* login button for login.html */
input[type="button"].login_button {
	cursor: pointer;

	padding: 8px 40px;

	background: var(--primary-color-background);
	&:hover	{
		background: var(--dark-primary-background);
	}

	border-radius: 12px;
	color: white;
	font-size: 18px;
	text-align: center;
}

a.section_button, input[type="button"].section_button, input[type="submit"].section_button {
	cursor: pointer;
	border-radius: 10px;

	background: var(--primary-color-background);
	&:hover	{
		background: var(--dark-primary-background);
	}
	color: white;
	padding: 8px 40px;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	border: none;
	float: right;
	/* margin-right: 1%; */
}

a.section_button {
	text-decoration: none;
}

input[type="button"].side_button {
	margin-right: 12px;
}
input[type="button"].no_margin_button{
	margin-right: 0;
	text-overflow: ellipsis;
}

a.section_button:active, input[type="button"].section_button:active, input[type="submit"].section_button:active {
	background: var(--dark-primary-background);
}

input[type="search"].section_search {
	border: 1px solid var(--stroke-light);
	border-radius: 10px;
	padding: 8px 16px;
	font-size: 14px;
	font-style: normal;
	width: 70%;
	float: left;
	margin-left: 1%;
}
/*Wrapper for the plus button next to an input element to add values */
div.circle_button_wrapper {
	display: flex;
	align-items: center;
	height: 1em;
	width: 1em;
	padding: 0.25em;
	border-radius: 50%;
	transition: background-color 0.25s;

	&:hover {
		background-color: var(--darkgrey-background);
		cursor: pointer;

		.delete-button{
			fill: var(--red-background);
		}

		.quantity-button{
			fill: var(--primary-color-background);
		}
	}

	&:active{
		opacity: 0.8;
	}
}

/* Wrapper for buttons in order page*/
div.circle-outline {
	display: flex;
	align-items: center;
	height: 2em;
	width: 2em;
	padding: 0.25em;
	border-radius: 50%;
	transition: background-color 0.25s;

	&:hover {
		background-color: var(--darkgrey-background);
		cursor: pointer;

		.delete-button{
			fill: var(--red-background);
		}

		.quantity-button{
			fill: var(--primary-color-background);
		}
	}

	&:active{
		opacity: 0.8;
	}
}

/* Quantity button from cart */
svg.quantity-button {
	width: 100%;
	height: 20px;
}

/* Delete button from cart */
svg.delete-button {
	width: 100%;
	height: 20px;
}

/* Place order button in cart */
input[type="button"].order_button {
	width: 35%;
	border-radius: 6px;
	background: var(--primary-color-background);
	color: var(--white-background);
	padding: 8px 40px;
	font-family: Inter, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	border: none;
	cursor: pointer;

	&:hover {
		background: var(--dark-primary-background);
	}

	&:active{
		opacity: 0.8;
	}
}

input[type="button"].ingredient {
	float: none;
	clear: both;
	margin-left: 40px;
}
/*Clickable icons*/
a.icon-buttons{
	cursor: pointer;
}

.add-to-cart-button {
	background-color: var(--primary-color-background);
	color: white;
	margin-top: 0.8rem;
	border: none;
	border-radius: 10px;
	padding: 12px 0; /* Adjust padding to fill container vertically */
	font-size: 1em;
	cursor: pointer;
	width: 100%; /* Button fills container horizontally */
	box-sizing: border-box;
	align-self: end;
	max-height: 40px;

	&:hover {
		background-color: var(--dark-primary-background);
	}
}

input[type="button"]:disabled, input[type="submit"]:disabled {
	opacity: 45%;
}

/* Responsiveness*/

@media (max-width: 768px){
	input[type="search"].section_search {
		clear: both;
		float: none;
		display: block;
		box-sizing: border-box;
		margin: 0 auto;
		margin-top: 10px;
		margin-left: 0;
		width: 100%;
	}

	input[type="submit"].section_button.search_button {
		clear: both;
		float: none;
		display: block;
		margin: 10px auto;
	}
}

@media only screen and (max-width: 480px) {
	.no_margin_button{
		float: none;
		width: 100%;
	}
}